#==============================================================================#
# This file specifies intentionally untracked files that git should ignore.
# See: http://www.kernel.org/pub/software/scm/git/docs/gitignore.html
#
# This file is intentionally different from the output of `git svn show-ignore`,
# as most of those are useless.
#==============================================================================#

#==============================================================================#
# File extensions to be ignored anywhere in the tree.
#==============================================================================#
# Temp files created by most text editors.
*~
# Merge files created by git.
*.orig
# Byte compiled python modules.
*.pyc
# vim swap files
.*.swp
.sw?

#==============================================================================#
# Explicit files to ignore (only matches one).
#==============================================================================#
.gitusers
autom4te.cache
cscope.files
cscope.out
autoconf/aclocal.m4
autoconf/autom4te.cache
compile_commands.json

#==============================================================================#
# Directories to ignore (do not add trailing '/'s, they skip symlinks).
#==============================================================================#
# External projects that are tracked independently.
projects/*
!projects/sample
!projects/CMakeLists.txt
!projects/Makefile
# Clang, which is tracked independently.
tools/clang
# LLDB, which is tracked independently.
tools/lldb
# lld, which is tracked independently.
tools/lld
# Sphinx build tree, if building in-source dir.
docs/_build

#added by sean
Debug+Asserts/
Makefile.config
Makefile.llvmbuild
bindings/ocaml/llvm/Debug+Asserts/
bindings/ocaml/llvm/META.llvm
config.log
config.status
docs/doxygen.cfg
include/llvm/Config/AsmParsers.def
include/llvm/Config/AsmPrinters.def
include/llvm/Config/Disassemblers.def
include/llvm/Config/Targets.def
include/llvm/Config/config.h
include/llvm/Config/llvm-config.h
include/llvm/IR/.dir
include/llvm/IR/Intrinsics.gen
include/llvm/Support/DataTypes.h
lib/Analysis/Debug+Asserts/
lib/Analysis/IPA/Debug+Asserts/
lib/Archive/Debug+Asserts/
lib/AsmParser/Debug+Asserts/
lib/Bitcode/Reader/Debug+Asserts/
lib/Bitcode/Writer/Debug+Asserts/
lib/CodeGen/AsmPrinter/Debug+Asserts/
lib/CodeGen/Debug+Asserts/
lib/CodeGen/SelectionDAG/Debug+Asserts/
lib/DebugInfo/Debug+Asserts/
lib/ExecutionEngine/Debug+Asserts/
lib/ExecutionEngine/Interpreter/Debug+Asserts/
lib/ExecutionEngine/JIT/Debug+Asserts/
lib/ExecutionEngine/MCJIT/Debug+Asserts/
lib/ExecutionEngine/RuntimeDyld/Debug+Asserts/
lib/IR/Debug+Asserts/
lib/IRReader/Debug+Asserts/
lib/Linker/Debug+Asserts/
lib/MC/Debug+Asserts/
lib/MC/MCDisassembler/Debug+Asserts/
lib/MC/MCParser/Debug+Asserts/
lib/Object/Debug+Asserts/
lib/Option/Debug+Asserts/
lib/Support/Debug+Asserts/
lib/TableGen/Debug+Asserts/
lib/Target/AArch64/AArch64GenAsmMatcher.inc
lib/Target/AArch64/AArch64GenAsmWriter.inc
lib/Target/AArch64/AArch64GenCallingConv.inc
lib/Target/AArch64/AArch64GenDAGISel.inc
lib/Target/AArch64/AArch64GenDisassemblerTables.inc
lib/Target/AArch64/AArch64GenInstrInfo.inc
lib/Target/AArch64/AArch64GenMCCodeEmitter.inc
lib/Target/AArch64/AArch64GenMCPseudoLowering.inc
lib/Target/AArch64/AArch64GenRegisterInfo.inc
lib/Target/AArch64/AArch64GenSubtargetInfo.inc
lib/Target/AArch64/AsmParser/Debug+Asserts/
lib/Target/AArch64/Debug+Asserts/
lib/Target/AArch64/Disassembler/Debug+Asserts/
lib/Target/AArch64/InstPrinter/Debug+Asserts/
lib/Target/AArch64/MCTargetDesc/Debug+Asserts/
lib/Target/AArch64/TargetInfo/Debug+Asserts/
lib/Target/AArch64/Utils/Debug+Asserts/
lib/Target/ARM/ARMGenAsmMatcher.inc
lib/Target/ARM/ARMGenAsmWriter.inc
lib/Target/ARM/ARMGenCallingConv.inc
lib/Target/ARM/ARMGenCodeEmitter.inc
lib/Target/ARM/ARMGenDAGISel.inc
lib/Target/ARM/ARMGenDisassemblerTables.inc
lib/Target/ARM/ARMGenFastISel.inc
lib/Target/ARM/ARMGenInstrInfo.inc
lib/Target/ARM/ARMGenMCCodeEmitter.inc
lib/Target/ARM/ARMGenMCPseudoLowering.inc
lib/Target/ARM/ARMGenRegisterInfo.inc
lib/Target/ARM/ARMGenSubtargetInfo.inc
lib/Target/ARM/AsmParser/Debug+Asserts/
lib/Target/ARM/Debug+Asserts/
lib/Target/ARM/Disassembler/Debug+Asserts/
lib/Target/ARM/InstPrinter/Debug+Asserts/
lib/Target/ARM/MCTargetDesc/Debug+Asserts/
lib/Target/ARM/TargetInfo/Debug+Asserts/
lib/Target/CppBackend/Debug+Asserts/
lib/Target/CppBackend/TargetInfo/Debug+Asserts/
lib/Target/Debug+Asserts/
lib/Target/Hexagon/Debug+Asserts/
lib/Target/Hexagon/HexagonGenAsmWriter.inc
lib/Target/Hexagon/HexagonGenCallingConv.inc
lib/Target/Hexagon/HexagonGenDAGISel.inc
lib/Target/Hexagon/HexagonGenDFAPacketizer.inc
lib/Target/Hexagon/HexagonGenInstrInfo.inc
lib/Target/Hexagon/HexagonGenRegisterInfo.inc
lib/Target/Hexagon/HexagonGenSubtargetInfo.inc
lib/Target/Hexagon/InstPrinter/Debug+Asserts/
lib/Target/Hexagon/MCTargetDesc/Debug+Asserts/
lib/Target/Hexagon/TargetInfo/Debug+Asserts/
lib/Target/MBlaze/AsmParser/Debug+Asserts/
lib/Target/MBlaze/Debug+Asserts/
lib/Target/MBlaze/Disassembler/Debug+Asserts/
lib/Target/MBlaze/InstPrinter/Debug+Asserts/
lib/Target/MBlaze/MBlazeGenAsmMatcher.inc
lib/Target/MBlaze/MBlazeGenAsmWriter.inc
lib/Target/MBlaze/MBlazeGenCallingConv.inc
lib/Target/MBlaze/MBlazeGenCodeEmitter.inc
lib/Target/MBlaze/MBlazeGenDAGISel.inc
lib/Target/MBlaze/MBlazeGenInstrInfo.inc
lib/Target/MBlaze/MBlazeGenIntrinsics.inc
lib/Target/MBlaze/MBlazeGenRegisterInfo.inc
lib/Target/MBlaze/MBlazeGenSubtargetInfo.inc
lib/Target/MBlaze/MCTargetDesc/Debug+Asserts/
lib/Target/MBlaze/TargetInfo/Debug+Asserts/
lib/Target/MSP430/Debug+Asserts/
lib/Target/MSP430/InstPrinter/Debug+Asserts/
lib/Target/MSP430/MCTargetDesc/Debug+Asserts/
lib/Target/MSP430/MSP430GenAsmWriter.inc
lib/Target/MSP430/MSP430GenCallingConv.inc
lib/Target/MSP430/MSP430GenDAGISel.inc
lib/Target/MSP430/MSP430GenInstrInfo.inc
lib/Target/MSP430/MSP430GenRegisterInfo.inc
lib/Target/MSP430/MSP430GenSubtargetInfo.inc
lib/Target/MSP430/TargetInfo/Debug+Asserts/
lib/Target/Mips/AsmParser/Debug+Asserts/
lib/Target/Mips/Debug+Asserts/
lib/Target/Mips/Disassembler/Debug+Asserts/
lib/Target/Mips/InstPrinter/Debug+Asserts/
lib/Target/Mips/MCTargetDesc/Debug+Asserts/
lib/Target/Mips/MipsGenAsmMatcher.inc
lib/Target/Mips/MipsGenAsmWriter.inc
lib/Target/Mips/MipsGenCallingConv.inc
lib/Target/Mips/MipsGenCodeEmitter.inc
lib/Target/Mips/MipsGenDAGISel.inc
lib/Target/Mips/MipsGenDisassemblerTables.inc
lib/Target/Mips/MipsGenInstrInfo.inc
lib/Target/Mips/MipsGenMCCodeEmitter.inc
lib/Target/Mips/MipsGenMCPseudoLowering.inc
lib/Target/Mips/MipsGenRegisterInfo.inc
lib/Target/Mips/MipsGenSubtargetInfo.inc
lib/Target/Mips/TargetInfo/Debug+Asserts/
lib/Target/NVPTX/Debug+Asserts/
lib/Target/NVPTX/InstPrinter/Debug+Asserts/
lib/Target/NVPTX/MCTargetDesc/Debug+Asserts/
lib/Target/NVPTX/NVPTXGenAsmWriter.inc
lib/Target/NVPTX/NVPTXGenDAGISel.inc
lib/Target/NVPTX/NVPTXGenInstrInfo.inc
lib/Target/NVPTX/NVPTXGenRegisterInfo.inc
lib/Target/NVPTX/NVPTXGenSubtargetInfo.inc
lib/Target/NVPTX/TargetInfo/Debug+Asserts/
lib/Target/PowerPC/AsmParser/Debug+Asserts/
lib/Target/PowerPC/Debug+Asserts/
lib/Target/PowerPC/InstPrinter/Debug+Asserts/
lib/Target/PowerPC/MCTargetDesc/Debug+Asserts/
lib/Target/PowerPC/PPCGenAsmMatcher.inc
lib/Target/PowerPC/PPCGenAsmWriter.inc
lib/Target/PowerPC/PPCGenCallingConv.inc
lib/Target/PowerPC/PPCGenCodeEmitter.inc
lib/Target/PowerPC/PPCGenDAGISel.inc
lib/Target/PowerPC/PPCGenInstrInfo.inc
lib/Target/PowerPC/PPCGenMCCodeEmitter.inc
lib/Target/PowerPC/PPCGenRegisterInfo.inc
lib/Target/PowerPC/PPCGenSubtargetInfo.inc
lib/Target/PowerPC/TargetInfo/Debug+Asserts/
lib/Target/RISCV/AsmParser/Debug+Asserts/
lib/Target/RISCV/Debug+Asserts/
lib/Target/RISCV/InstPrinter/Debug+Asserts/
lib/Target/RISCV/MCTargetDesc/Debug+Asserts/
lib/Target/RISCV/RISCVGenAsmMatcher.inc
lib/Target/RISCV/RISCVGenAsmWriter.inc
lib/Target/RISCV/RISCVGenCallingConv.inc
lib/Target/RISCV/RISCVGenCodeEmitter.inc
lib/Target/RISCV/RISCVGenDAGISel.inc
lib/Target/RISCV/RISCVGenInstrInfo.inc
lib/Target/RISCV/RISCVGenMCCodeEmitter.inc
lib/Target/RISCV/RISCVGenRegisterInfo.inc
lib/Target/RISCV/RISCVGenSubtargetInfo.inc
lib/Target/RISCV/TargetInfo/Debug+Asserts/
lib/Target/Sparc/Debug+Asserts/
lib/Target/Sparc/MCTargetDesc/Debug+Asserts/
lib/Target/Sparc/SparcGenAsmWriter.inc
lib/Target/Sparc/SparcGenCallingConv.inc
lib/Target/Sparc/SparcGenDAGISel.inc
lib/Target/Sparc/SparcGenInstrInfo.inc
lib/Target/Sparc/SparcGenRegisterInfo.inc
lib/Target/Sparc/SparcGenSubtargetInfo.inc
lib/Target/Sparc/TargetInfo/Debug+Asserts/
lib/Target/SystemZ/AsmParser/Debug+Asserts/
lib/Target/SystemZ/Debug+Asserts/
lib/Target/SystemZ/InstPrinter/Debug+Asserts/
lib/Target/SystemZ/MCTargetDesc/Debug+Asserts/
lib/Target/SystemZ/SystemZGenAsmMatcher.inc
lib/Target/SystemZ/SystemZGenAsmWriter.inc
lib/Target/SystemZ/SystemZGenCallingConv.inc
lib/Target/SystemZ/SystemZGenCodeEmitter.inc
lib/Target/SystemZ/SystemZGenDAGISel.inc
lib/Target/SystemZ/SystemZGenInstrInfo.inc
lib/Target/SystemZ/SystemZGenMCCodeEmitter.inc
lib/Target/SystemZ/SystemZGenRegisterInfo.inc
lib/Target/SystemZ/SystemZGenSubtargetInfo.inc
lib/Target/SystemZ/TargetInfo/Debug+Asserts/
lib/Target/X86/AsmParser/Debug+Asserts/
lib/Target/X86/Debug+Asserts/
lib/Target/X86/Disassembler/Debug+Asserts/
lib/Target/X86/InstPrinter/Debug+Asserts/
lib/Target/X86/MCTargetDesc/Debug+Asserts/
lib/Target/X86/TargetInfo/Debug+Asserts/
lib/Target/X86/Utils/Debug+Asserts/
lib/Target/X86/X86GenAsmMatcher.inc
lib/Target/X86/X86GenAsmWriter.inc
lib/Target/X86/X86GenAsmWriter1.inc
lib/Target/X86/X86GenCallingConv.inc
lib/Target/X86/X86GenDAGISel.inc
lib/Target/X86/X86GenDisassemblerTables.inc
lib/Target/X86/X86GenFastISel.inc
lib/Target/X86/X86GenInstrInfo.inc
lib/Target/X86/X86GenRegisterInfo.inc
lib/Target/X86/X86GenSubtargetInfo.inc
lib/Target/XCore/Debug+Asserts/
lib/Target/XCore/Disassembler/Debug+Asserts/
lib/Target/XCore/InstPrinter/Debug+Asserts/
lib/Target/XCore/MCTargetDesc/Debug+Asserts/
lib/Target/XCore/TargetInfo/Debug+Asserts/
lib/Target/XCore/XCoreGenAsmWriter.inc
lib/Target/XCore/XCoreGenCallingConv.inc
lib/Target/XCore/XCoreGenDAGISel.inc
lib/Target/XCore/XCoreGenDisassemblerTables.inc
lib/Target/XCore/XCoreGenInstrInfo.inc
lib/Target/XCore/XCoreGenRegisterInfo.inc
lib/Target/XCore/XCoreGenSubtargetInfo.inc
lib/Transforms/Hello/Debug+Asserts/
lib/Transforms/IPO/Debug+Asserts/
lib/Transforms/InstCombine/Debug+Asserts/
lib/Transforms/Instrumentation/Debug+Asserts/
lib/Transforms/ObjCARC/Debug+Asserts/
lib/Transforms/Scalar/Debug+Asserts/
lib/Transforms/Utils/Debug+Asserts/
lib/Transforms/Vectorize/Debug+Asserts/
llvm.spec
projects/sample/Makefile.common
projects/sample/Makefile.llvm.config
projects/sample/Release+Asserts/
projects/sample/config.log
projects/sample/config.status
projects/sample/lib/sample/Release+Asserts/
projects/sample/tools/sample/Release+Asserts/
runtime/libprofile/Debug+Asserts/
tools/bugpoint-passes/Debug+Asserts/
tools/bugpoint/Debug+Asserts/
tools/llc/Debug+Asserts/
tools/lli/Debug+Asserts/
tools/llvm-ar/Debug+Asserts/
tools/llvm-as/Debug+Asserts/
tools/llvm-bcanalyzer/Debug+Asserts/
tools/llvm-config/Debug+Asserts/
tools/llvm-config/LibraryDependencies.inc
tools/llvm-cov/Debug+Asserts/
tools/llvm-diff/Debug+Asserts/
tools/llvm-dis/Debug+Asserts/
tools/llvm-dwarfdump/Debug+Asserts/
tools/llvm-extract/Debug+Asserts/
tools/llvm-link/Debug+Asserts/
tools/llvm-mc/Debug+Asserts/
tools/llvm-mcmarkup/Debug+Asserts/
tools/llvm-nm/Debug+Asserts/
tools/llvm-objdump/Debug+Asserts/
tools/llvm-prof/Debug+Asserts/
tools/llvm-ranlib/Debug+Asserts/
tools/llvm-readobj/Debug+Asserts/
tools/llvm-rtdyld/Debug+Asserts/
tools/llvm-size/Debug+Asserts/
tools/llvm-stress/Debug+Asserts/
tools/llvm-symbolizer/Debug+Asserts/
tools/lto/Debug+Asserts/
tools/macho-dump/Debug+Asserts/
tools/obj2yaml/Debug+Asserts/
tools/opt/Debug+Asserts/
tools/yaml2obj/Debug+Asserts/
unittests/ADT/Debug+Asserts/
unittests/Analysis/Debug+Asserts/
unittests/Bitcode/Debug+Asserts/
unittests/DebugInfo/Debug+Asserts/
unittests/ExecutionEngine/Debug+Asserts/
unittests/ExecutionEngine/JIT/.dir
unittests/ExecutionEngine/JIT/Debug+Asserts/
unittests/ExecutionEngine/JIT/JITTests.exports
unittests/ExecutionEngine/MCJIT/Debug+Asserts/
unittests/IR/Debug+Asserts/
unittests/Support/Debug+Asserts/
unittests/Transforms/Utils/Debug+Asserts/
utils/FileCheck/Debug+Asserts/
utils/FileUpdate/Debug+Asserts/
utils/PerfectShuffle/Debug+Asserts/
utils/TableGen/Debug+Asserts/
utils/count/Debug+Asserts/
utils/fpcmp/Debug+Asserts/
utils/not/Debug+Asserts/
utils/unittest/UnitTestMain/Debug+Asserts/
utils/unittest/googletest/Debug+Asserts/

